.centered {
    align-content: center;
}

#location {
    display: inline;
}

#container {
    height: 700px;
}

div {
    text-align: center;
}

body {
    font-size: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
}




